extends base

block base-content

    h1 Inscrições

    h2 Ativas

    div.subscriptions-list
        ul.event-list
            each activity in availableActivities
                li
                    div
                        a(href=`/eventos/${activity.event.id}`) #{activity.event.name}
                    div(style="float: right;")
                        a(href=`/inscricoes/${activity.id}/cancelar`, style="display: block;") Cancelar Inscrição
                        a(href=`/checkin/${activity.id}`, style="display: block;") Fazer Check-in
                    div
                        h4 Detalhes
    h2 Canceladas

    div.subscriptions-list
        ul.event-list
            each activity in cancelActivities
                li
                    div
                        a(href=`/eventos/${activity.event.id}`) #{activity.event.name}
                    div
                        h4 Detalhes
